<div id="<%= dom_id quote %>">
  <p>
    <strong>Quotetext:</strong>
    <%= quote.quoteText %>
  </p>

  <p>
    <strong>Ispublic:</strong>
    <%= quote.isPublic %>
  </p>

  <p>
    <strong>Dateposted:</strong>
    <%= quote.datePosted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.User_id %>
  </p>

  <p>
    <strong>Philosopher:</strong>
    <%= quote.Philosopher_id %>
  </p>

</div>
