<div id="<%= dom_id philosopher %>">
  <p>
    <strong>Firstname:</strong>
    <%= philosopher.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= philosopher.lastName %>
  </p>

  <p>
    <strong>Birthyear:</strong>
    <%= philosopher.birthYear %>
  </p>

  <p>
    <strong>Deathyear:</strong>
    <%= philosopher.deathYear %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>

</div>
